
  .drawing-container{
    display: flex;
    width: 100%;
    height: 500px;
  }
  
  .canvas {
    width: 100%;
    height: 100%;
    color: white;
    background-color: white;
  }
  
  .colors{
    display: flex;
    flex-flow: row wrap;
    width:16%;
    height:100%;
  }
  
  .color {
    margin: 1px;
    height: 40px;
    width: 40px;
  }
  
  .color.black { background-color: black; }
  .color.red { background-color: red; }
  .color.green { background-color: green; }
  .color.blue { background-color: blue; }
  .color.yellow { background-color: yellow; }
  .color.purple { background-color: purple; }