@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

.title{
  cursor: pointer;
  margin-right: auto;
}

.nav-bar{
  display: flex;
  justify-content: flex-end;
  padding: 2em 1.5em;
}

.button-login {
  border: none;
  background: none; 
  cursor: pointer;
  font-size: 20px;
  color: var(--highlight-text);
 }

.button-register {
  border: none;
  background: none; 
  cursor: pointer;
  font-size: 20px;
  color: var(--highlight-text);
}

#user{
  padding: 0rem 2rem;
  transition: all 0.3s ease 0s;
}

#user:hover {
  color: var(--dark-text);
  transition: all 0.3s ease 0s;
}

#user:active {
  border: none;
}

.username{
  border: none;
  background: none; 
  cursor: pointer;
  font-size: 20px;
  color: var(--highlight-text);
  transition-duration: 0.2s;
}

.button-logout{
  border: none;
  background: none; 
  cursor: pointer;
  font-size: 20px;
  color: var(--highlight-text);
}
