@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

.title{
  cursor: pointer;
  margin-right: auto;
}

.nav-bar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 10%;
  background-color: #34495e;
}

.button-login {
  border: none;
  background: none; 
  cursor: pointer;
  font-size: 20px;
  color: #ecf0f1;
 }

.button-register {
  border: none;
  background: none; 
  cursor: pointer;
  font-size: 20px;
  color: #ecf0f1;
}

#user{
  padding: 0rem 1rem;
  transition: all 0.3s ease 0s;
}

#user:hover, :focus {
  color: #d35400;
}

.username{
  min-width: 100px;
  width: 10%;
  height: 30px;
  font-size: 20px;
  padding-top: 5px;
  font-family: sans-serif;   
  color: #eeeeee;
  border-radius: 3px;
  border: solid 2px #baabda;
  background: #baabda;
}
.username:hover,
:focus {
  cursor: pointer;
}

.logout{
  position: absolute;
  top: 20px;
  right: 20px;
  min-width: 100px;
  width: 10%;
  height: 30px;
  font-size: 20px;
  padding-top: 5px;
  font-family: sans-serif;   
  color: #eeeeee;
  border-radius: 3px;
  border: solid 2px #ff6962;
  background: #ff6962;
}
.logout:hover,
:focus {
  cursor: pointer;
}