@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

  .logout{
    position: absolute;
    top: 20px;
    right: 20px;
    min-width: 100px;
    width: 10%;
    height: 30px;
    font-size: 20px;
    padding-top: 5px;
    font-family: sans-serif;   
    color: #eeeeee;
    border-radius: 3px;
    border: solid 2px var(--highlight-text);
    background: var(--highlight-text);
  }
  .logout:hover,
  :focus {
    cursor: pointer;
  }

  .intro-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 1em;
  }

  .intro{
    width: 50%;
  }

  .intro-login{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    font-size: 1.5em;
    color: #FFFFFF;
  }

  .title{
    font-size: 5em;
    color: var(--highlight-text);
  }

  .description-text{
    padding-top: 2em;
    font-size: 2em;
    color: #e6f1ff;
  }

  .dashboard-button-login {
    border: none;
    background: none;
    margin-right: .25em; 
    cursor: pointer;
    color: var(--highlight-text);
    font-size: 1em;
   }
  
  .dashboard-button-register {
    border: none;
    background: none; 
    margin-right: .25em; 
    margin-left: .25em; 
    cursor: pointer;
    color: var(--highlight-text);
    font-size: 1em;
  }
  
  #dashboard-user{
    transition: all 0.3s ease 0s;
  }
  
  #dashboard-user:hover, :focus {
    color: #bf480f;
  }

  .action-text{
    color: #FFFFFF;
  }

  .credits {
    display: flex;
    align-items: center;
  }

  .ending-credits{ 
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    padding: 1em 0 1em 0;
    background: var(--background);
    font-family: "NTR", sans-serif;
    color: var(--slate);
    text-align: center;
    width: 100%;
    font-size: 13px;
  }

  .ending-credits-modal{ 
    display: flex;
    align-items: center;
    justify-content: center;
    /* bottom: -5px; */
    padding: 1em 0 1em 0;
    background: rgba(35, 53, 85, .0);
    font-family: "NTR", sans-serif;
    color: var(--slate);
    text-align: center;
    width: 100%;
    font-size: 13px;
  }
 
  .my-info{
      display: flex;
      position: fixed;
      flex-direction: row;
      bottom: 0;
      right: 0;
      padding: 0 4em 1em 0;
  }

  .my-info > a{
    padding-left: 0.5em;
  }

  .github-image{
    background-image: url("../../assets/github-9-256.png");
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .linkedIn-image{
    background-image: url("../../assets/linkedin-3-256.png");
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .email-image{
    background-image: url("../../assets/new-post-256.png");
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  @media (max-width: 1000px) {
    .my-info{
      padding: 0 1em 1em 0;
    }
  }

  @media (max-width: 840px) {
    /* CSS rules here for screens lower than 750px */
    .intro{
      width: 70%;
    }
    
    .title{
      font-size: 4em;
      color: var(--highlight-text);
      
    }
    .description-text{
      padding-top: 2em;
      font-size: 2em;
      color: #e6f1ff;
    }

    #dashboard-user{
      transition: all 0.3s ease 0s;
    }
    #dashboard-user:active {
      -webkit-tap-highlight-color: transparent;
      color: #bf480f;
    }
    .my-info{
      padding: 0 1em 1em 0;
    }
  }

  @media all and (max-width: 755px) {
    /* CSS rules here for screens lower than 750px */
    .title{
      font-size: 4em;
      color: var(--highlight-text);
      
    }
    .description-text{
      padding-top: 2em;
      font-size: 2em;
      color: var(--normal-text);
    }
    .my-info{
      display: none;
    }
    .ending-credits{
      padding-bottom: 1.25em; 
    }
  }
 
  @media all and (max-width: 520px) {
    /* CSS rules here for screens lower than 750px */
    .title{
      font-size: 3em;
      color: var(--highlight-text);
    }
    .description-text{
      padding-top: 2em;
      font-size: 2em;
      color: var(--normal-text);
    }
    .my-info{
      display: none;
    }
  }
  /*
 .outro-container{
    display: inline-block;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30vh;
    margin-bottom: -5vh;
    background: #272c48;
  }

  .outro-message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
  }
  */