.chatBox{
    display: block;

    align-self: left;
    width: 50%;
    margin: 10px 0px 0px -5.5%;
}

.scroll-box--wrapped{
    display: inline-block;
    width: 75%;
    height: 60vh;
    padding: 5px 0px 5px 10px;
    background-color: #2c2f33;
    color: #FFFFFF;
}

.chatInputBox{
    display: block;
    width: 76.5%;
    height: 30px;
    margin: 2px 0px 0px 11.7%;
    background-color: #2c2f33;
}

.chatInput{
    margin: 5px 0px 0px 0px;
    width: 50%;
}

.chatButton{
    display: inline-block;
    color: #eeeeee;
    border-radius: 5px;
    border: solid #7289da;
    background: #7289da;
}