/* Updated CSS */

.chatBox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background: #233554;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
}

.chatBox {
  width: 70%;
  background-color: #23272a;
}

.chatMessages {
  display: block;
  white-space: pre-line;
  overflow-y: scroll;
  width: 100%;
  height: 7em;
  padding-top: 1px;
  background-color: #23272a;
  color: #B9BBBE;
  border-radius: 2%;
  text-align: left;
  font-size: 15px;
}

.chat-msg {
  padding: 6px 4px 0 10px;
}

.chatBox::-webkit-scrollbar {
  width: 1em;
}

.chatBox::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.chatInputBox {
  display: block;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  margin-top: -5px;
  border-radius: 2px;
}

.chatInput {
  display: inline-block;
  margin-top: 1em;
  padding: 4px 0 4px 4px;
  background-color: #2c2f33;
  color: #B9BBBE;
  width: 98%;
  border: none;
  border-radius: 2px;
  font-size: 15px;
  outline: none;
}

.chatInput:hover,
.chatInput:focus {
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.svg), auto;
  color: #FFFFFF;
}

.chat-msg {
  display: flex;
  justify-content: space-between;
}

.user-text-box{
  display: flex;
  flex-direction: row;
  width: 100%; /* Adjust the width as needed */
  max-width: 100%;
  overflow: hidden;
  white-space: normal;
}

.msg-user{
  font-weight: bold;
}

.msg-text {
  padding-left: 5px;
  white-space: pre-wrap;
}

.msg-time {
  color: #B9BBBE;
  font-size: 13px;
  margin-left: 7%;
}

.msg-user,
.msg-time {
  white-space: nowrap;
}


/* Media query for screens between 601px and 900px wide */
@media (min-width: 601px) and (max-width: 900px) {
  .chatBox {
    width: 65%;
    background-color: #23272a;
  }

  .chatInput {
    display: inline-block;
    margin-top: 1em;
    padding: 4px 0 4px 4px;
    background-color: #2c2f33;
    color: #B9BBBE;
    width: 97%;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    outline: none;
  }
}


/* Media query for screens smaller than 600px wide */
@media (max-width: 600px) {
  .chatInput {
    display: inline-block;
    margin-top: 1em;
    padding: 4px 0 4px 4px;
    background-color: #2c2f33;
    color: #B9BBBE;
    width: 95%;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    outline: none;
  }
}