.chatBox-container{
    display: flex;
    justify-content: center;  
    flex-flow: row wrap;
    width: 75%;
    margin: 0 auto;
  }

.chatBox{
    display: inline-block;
    white-space: pre-line;
    overflow-y: scroll;
    width: 100%;
    height: 150px;
    padding: 5px 0px 5px 10px;
    background-color: #23272a;
    color: #FFFFFF;
    text-align: left;
}

.chatBox::-webkit-scrollbar {
  width: 1em;
}

.chatBox::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}

.chatInputBox{
    display: inline-block;
    width: 100%;
    height: 50px;
    padding: 15px 0px 0px 10px;
    padding-bottom: px;
    background-color: #23272a;
}

.chatInput{
    display: inline-block;
    background-color: #2c2f33;
    color: #FFFFFF;
    width: 75%;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    padding: 4px 7px 4px 7px;
    outline: none;
    caret-color: #FFFFFF;
}

.chatInput:hover,
  :focus{
    cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.svg), auto;
    color: #FFFFFF;
  }
