.listWrapper{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.listGrid{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    height: 53vh;
    overflow-y: scroll;

}

.list-title{
    color: var(--highlight-text);
    font-size: 2em;
}

.create-board{
    width: 15%;
    height: 2.6em;
    margin-top: 1em;
    border-radius: 3px;
    font-family: sans-serif;
    color: #eeeeee;   
    border: solid var(--highlight-text);
    background-color: var(--highlight-text);
    font-size: 1em;
    cursor: pointer;
}