@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

  .Title {
    padding-top: 10px;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position: fixed;
    background: white;
    width: 30%;
    top: 48%;
    left: 50%;
    border: solid var(--highlight-text) 2px;
    border-radius: .5em;
    background-color: var(--background);
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  .modal-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5em;
    font-size: 1.5em;
  }

  .label-username{
    display: block;
    margin: 1em 11.75em .25em 0;
  }
  
  .input-username {
    display: flex;
    margin: 0em auto .5em auto;
    padding: 5px 5px 5px 5px;
    width: 55%;
    border-radius: .25em;
    text-decoration-color: black;
    border: solid #eeeeee;
    background-color: #eeeeee;
    font-family: sans-serif;   
  }

  .username-error{
    display: block;
    margin: .25em 5.25em .75em auto;
    color: red;
  }
  
  .label-password{
    display: block;
    margin: 1em 11.75em .25em 0;
  }

  .input-password {
    display: flex;
    margin: 0 auto 0em auto;
    padding: 5px 5px 5px 5px;
    width: 55%;
    height: 8%;
    border-radius: 3px;
    border: solid #eeeeee;
    background-color: #eeeeee;
    font-family: sans-serif;   
  }
  
  .password-error{
    display: block;
    margin: .25em 5.25em .75em auto;
    color: red;
  }

  #input:focus{
    outline: none;
    border: solid var(--highlight-text) 2px;
    color:black;
  }
  

  .button-submit{
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 100%; 
    margin-top: 1.5em;
  }

  .modal-submit {
    width: 60%;
    height: 2.6em;
    border-radius: 3px;
    font-family: sans-serif;
    color: #eeeeee;   
    border: solid var(--highlight-text);
    background-color: var(--highlight-text);
    font-size: 1em;
    cursor: pointer;
  }

  .display-none{
    display: none;
  }

  .option-box{
    margin-top: .7em;
    margin-bottom: .7em;
  }

  .option-btn{
    margin-left: .25em;
    border: none;
    background: none; 
    cursor: pointer;
    color: var(--highlight-text);
    font-size: 1em;
  }

  .option-btn:focus{
    color: var(--highlight-text);
    cursor: pointer;
  }
 
  /*
    For close button
  */

  .close {
    position: fixed;
    margin-left: 90%;
    margin-top: -2vh;
    opacity: 0.8;
    color: white;
    font-size: 30px;
  }
  .close:hover,
  :focus {
    color: var(--highlight-text);
    text-decoration: none;
    cursor: pointer;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before,
  .close:after {
    position: absolute;
    left: 20px;
    content: "";
    height: 40px;
    width: 40px;
  }

 

  @media all and (max-width: 1000px) {
    .modal-main{
      width: 65%;
    }
  }