.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  #darkmode {
    background-color: #dbdbdb;
    color: black;
    height: 100vh;
  }
  
  .chatBox {
    height: 75%;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    align-content: center;
  }
  
  .chatInput {
    height: 10%;
    width: 100%;
  }
  
  .chatContainer {
  }
  
  .message-list {
    text-align: left;
    width: 100%;

  }
  .chat-message-even{
    background-color: yellow;
  }

  .chatTitle {
  
    border-bottom: black solid 1px;

  }